@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css?family=Oswald:400,700");
@import url("fonts.googleapis.com/earlyaccess/sawarabigothic.css?family=Oswald:400,700");

@mixin purple{
    background-color: #7b4de1;
}

html * {
    /* padding/border差し引きなし */
    box-sizing: border-box;
}

body {
    /* スマホ横位置の文字サイズ変更なし */
    -webkit-text-size-adjust: 100%;
    /* remのフォント単位指定 */
    font-size: 10px;
    /* 基本フォント */
    font-family: "Sawarabi Gothic","Noto Sans Japanese", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    color: #333;
    line-height: 2;
    background-color: #fdfdfd;
}


/* 画像の表示崩れを調整 */

img {
    /* 画像の下の隙間を取り除く */
    display: block;
    height: auto;
    /* 親要素のはみ出しを防ぐ */
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    color: #333;
}
/* DP比が2倍以上のとき高解像度の画像に置き換え */

@media screen and (min-device-pixel-ratio: 2) {
    .hero {
        background: url("images/herox2.png") 0 0 no-repeat;
        background-size: 960px 300px;
    }
}

// index.html
.navbar {
    background-color: #fff;

.nav-top {
   margin-left: 100px;
}
}
// main
.jumbotron {
    background-image: url(/images/background01.jpg);
    background-size: cover;
    h1 {
        font-size: 3em;
        color: #fff;
        font-family:  "Sawarabi Mincho";
    }
}

main {
    .project {
    width: 80%;
    margin:auto;
    margin: 0 auto;
}
    .box-shadow{


        margin-bottom: 30px;
  //       box-shadow: 3px 3px 6px -2px #555,
  // 3px 3px 8px rgba(255,255,255,0.8) inset;
  border: 0.5px solid #aaa;
  img {
    margin: 0 auto;
    width: 100%;
    padding: 0
  }
    }
    .card-title {
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px;
        display: inline-block;

    }
    .money,.days,.tag{
        font-size: 1.5em;
    }
    p {
        font-size: 1.5em;
        padding: 10px;
    }
    .btn{
        margin: 10px 0 20px 0;
    }
    .days {

    }
    .more {
        float: right;
    }
}
.nav-side {
    text-align: justify;
    // background-color: #fff;
    padding-left: 100px;
    width:350px;

    h3 {
        font-size: 2em;
        padding-top: 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid #333;

        // background-color: #555;
        // color: #fff;
    }
    ul {
        padding-left: 0;
        // background-color: #eee;
    li {
        font-size: 1.5em;
        padding-top: 10px;
        padding-left: 10px;
        // font-family:  "Sawarabi Mincho";
        margin-bottom: 3px;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #f7f7f7;
        border-left: solid 6px #5cb85c;/*左線*/
        color: #ff7c5c;/*文字色*/
        font-weight: bold;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);

}
li:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}
    }
    .category li{



    }
}
.active {
    width: 80%;
    margin: auto;
    padding: 100px 0;
}
// footer
.footer {
    background-color: #333;
        color: #fff;

        padding-bottom: 100px;
        font-size: 1.2em;

        a {
            color: #fff;
        }
        h3 {
            text-align: center;
            padding-top: 100px;
            padding-bottom: 10px;
        }
        ul{
            padding: 0;
            font-size: 1.2em;
        }
        .footer-text {

        }
    .footer-btn {
        background-color: #ddd;
        text-align: center;
        height: 100px;

        .btn-success {
            margin-top: 30px;
            border-radius: 20px;
        }
    }
}